.logo{
    position: absolute;
    display: flex;
    z-index: 5;
   
}

ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
   
}
ul{
    float: left;
    /* position:inherit; */
    display: flex;
    text-decoration: none;
    margin-left: 650px;
    margin-top: 10px;
    z-index: 5;
    font-size: 30px;
 

}
 ul li {
    padding: 10px 40px;
    display: inline ;

    /* border :3px solid black; */
    /* position: relative; */
    z-index: 5;



    
 }
 a{
    position:relatve;
    background: -webkit-linear-gradient(45deg ,#F6EA41 , #F048C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 100;
    font-family:HeyComic;
    transition: 0.5s ease-in-out;
    
 }
 a:hover{
    font-size: 40px;
 }

 @font-face {
    font-family: HeyComic;
    src: url(Hey\ Comic.ttf);
 }
